body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#baloon {
    font-size: 15px;
}
.context-menu {
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    position: absolute;
    display: none;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(155, 155, 155);
}